table.tf_calc_table {
    width: 100%;
}
table.tf-tc-results {
    width: 100%;
}
.tf_calc_main {
	margin:0 auto;
	width:60%;
}
.tf_calc_main tr td, .tf-tc-results tr td.h2.size-color {
	padding: 10px!important;
}
.tf_calc_main tr td label{
	font-weight: inherit;
}
.tf_calc_main tr td.slider-td .tf-slider {
	padding: 10px 20px!important;
}
.responsive td, .responsive th, .responsive {
		border:none!important;
	}
.table-responsive td, .table-responsive th, .table-responsive {
	border:none!important;
}
.tf-tc-results tr td {
    padding: 10px 0px 0px 10px!important;
}
.tf_calc_main tr td.noPad {
	padding: 0px 0px 0px 10px!important;
}
.tf_calc_main tr td.noPad label{
	margin-bottom: 0px!important;
}
/* slider button color and radius */
.tf-slider span.ui-slider-handle.ui-state-default.ui-corner-all {
    background: #F7690A;
    border-radius: 50%;
}
/* size of dot */
.tf-slider span.ui-slider-handle {
    width: 1.5em;
    height: 1.5em;
	top: -.4em;
}
tr.total-results td.top-border {
	border-top:1px solid #222!important;
}
tr.allBold td{
	font-weight:900;
}
/* Headings can be adjusted using this declaration */
td.h2.size-color {
	
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.responsive td, .responsive th, .responsive {
		border:none!important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.responsive td, .responsive th, .responsive {
		border:none!important;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.responsive td, .responsive th, .responsive {
		border:none!important;
		font-size:16px;
	}
	.tf_calc_main {
		margin:0 auto;
		width:80%;
	}
	.tf_calc_table td {
		display:block;
		width: 100%;
	}
    .responsive
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.tf_calc_main {
		margin:0 auto;
		width:95%;
	}
	.responsive td, .responsive th, .responsive {
		border:none!important;
	}
	.tf_calc_table td {
		display:block;
		width: 100%;
	}
	.tf_calc_main {
		margin:0 auto;
		width:100%;
	}
	.tf_calc_main tr td input {
		width:100%;
		font-size:20px;
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	.responsive td, .responsive th, .responsive {
		border:none!important;
	}
	.tf_calc_table td {
		display:block;
	}
}